
<h1>Clase</h1>

<h5>Nombre</h5>
<div>{{clase}}</div>

<h5>Docente</h5>
 <div>{{prof}} {{mat}} {{pat}} </div>

 <h5>Link</h5>
 <div>{{url}}</div>
<br><br>
<a href="/H">Volver</a>
<a href="/C/U/{{id}}" class="blue">Editar</a>
<a href="/C/D/{{id}}" class="red">Borrar</a>
