<h1>{{dia}}</h1>
<br><br>
<a href="/H/R/{{xl}}" >Anterior</a>
<a href="/H/R/{{xm}}" >Siguiente</a>
<br><br>
{{{html}}}

<br><br>
<br><br>
<a href="/C/C" class="blue" >Nueva clase</a>
<a href="/H/V/{{d}}" >Editar clases del dia</a> 
<a href="/C" class="blue">Ver clases</a> 

